@model IEnumerable<demo2.Models.vtype>

@{
    ViewData["Title"] = "viewall";
}

<div class="container" style="margin-left:0%">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Createv">Create new voting </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Addcand">Add candidates</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="addvoter">Add voters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="viewall">Result</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="SendEmail">Send mail</a>
        </li>
    </ul>
</div>
<hr />


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.voting_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.start_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.end_date)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.voting_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.start_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.end_date)
            </td>
            <td>
                <a role="button" class="btn btn-dark" asp-controller="Home" asp-action="viewresa" asp-route-id="@item.vtypeId">Result</a>
            </td>
            <td>
                <a role="button" class="btn btn-dark" asp-controller="Home" asp-action="delv" asp-route-id="@item.vtypeId">Delete</a>
            </td>

        </tr>
        }
    </tbody>
</table>
